# general compile
/target
out/
cache/
broadcast/
node_modules/
.DS_Store

# WAVS
.env
!compiled/aggregator.wasm
compiled/*.wasm
.docker/*.json
.docker/*.log
wavs:worker*.wit
wavs:worker*.wasm

# WAVS infra
.nodes
infra/*

# Tools
**/.claude/settings.local.json
.task/remote/
components/python-evm-price-oracle/__pycache__/
components/python-evm-price-oracle/wavs_guest/
